.swipeButtons {
	position: fixed;
	width: 100%;
	bottom: 10vh;
	display: flex;
	justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
	background-color: #fff;
	box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__repeat {
	color: #f5b748 !important;
}

.swipeButtons__close {
	color: #ec5e6f !important;
}

.swipeButtons__star {
	color: #62b4f9 !important;
}

.swipeButtons__fav {
	color: rgb(240, 101, 124) !important;
}

.swipeButtons__flash {
	color: #0d2bb1;
}

@media (max-width: 770px) {
	.swipeButtons {
		position: fixed;
		bottom: 2vh;
	}
}
