language: node_js
node_js:
  - "node"
warnings_are_errors: false

install:
  - npm install

script:
  - npm run build

deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: "JYmhgFUTdZDVacCoyYT55ztNBMyDHSNdoEYQLYdtYHw12hJSTy67RT82uyqWe5k17+N+8LVnzi+db0RZM0AcvIEZU1OzqYLl0tzirdxGme69HUDgnjasvL4oApruRZ9MCXHWiBGgxdiAAr+PJqAXlluXzQzPa4CXqrdFfaJCB3JyCtJ7NqAwluNM3Ji3p8UYG5sg0dxUzYuME0aIm65chBcSSdn2JqHqhhEZUuKLdv9mlmbI8eCPpBBh+icgOAo0eFX6aaeTUpJywH3yMoJgGViYP0yurBzsAxCp5bcycRpoIxbutRqu1LieyGT0FglzypHhvrKNdjAPire8/4OEdmXs2oqHSZeWwDx/xKK689liUbiX02PApdMuljbByIsb473mt1U6xMA+YIO3vJWJjcxjwy4kaqqEEm4HwPFtFAlJ/Uh9rhgvsSDaTwh3U106lZ8EDlxpH/zvxFoypEtI0dE3Q226+BKLQ1qWeAfroYMFyC9Bpbbbe62iqbwWeT6HC8F0ImOmUY3be3/bbVE0YJ/HpWuoNe9/BVbTg0K2yc1LhgLjRraVyVohjpi7iW1xqSbG1dZ5RZrcWCP70pY9hFSx34sfmijZSqAp1QIjs3HAvdRNtMZxPsl8o9Lm1WdKMYT2Hfafcm0V9yqL6wMgfCrdt618bFRbJVcL1uFZz3Q="
