.chat {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid #f9f9f9;
	height: 70px;
}

a {
	text-decoration: none;
	color: inherit;
}

.chat__content {
	flex: 1;
	margin-left: 20px;
}

.chat__content > p {
	color: gray;
}

.chat__timestamp {
	color: lightgray;
}

.chatScreen__message {
	display: flex;
	padding: 20px;
	align-items: center;
}
.chatScreen__text {
	margin-left: 10px;
	background-color: lightblue;
	padding: 15px;
	border-radius: 20px;
}

.chatScreen__header {
	color: gray;
	padding: 20px;
	text-align: center;
}

.chatScreen__textUser {
	margin-left: auto;
	background-color: rgb(94, 94, 192);
	padding: 15px;
	border-radius: 20px;
	color: #ffff;
	z-index: -1;
}

.chatScreen__input {
	z-index: -1;
}

.chatScreen__input > form {
	display: flex;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid lightgray;
}

.chatScreen__inputField {
	flex: 1;
	border: none;
	padding: 13px;
}

.chatScreen__inputButton {
	margin-right: 20px;
	border: none;
	background-color: #fff;
	font-weight: bolder;
	color: #fe3d71;
}

.chatScreen__inputButton:hover {
	cursor: pointer;
}

@media (max-width: 600px) {
	.chat__content > p {
		font-size: 13px;
	}
	.chat__content > h2 {
		font-size: 18px;
	}
	.chat__timestamp {
		font-size: 13px;
	}
	.chatScreen__text {
		font-size: 13px;
	}
	.chatScreen__textUser {
		font-size: 14px;
	}
	.chatScreen__header {
		font-size: 14px;
	}
}
